# Generic/OS Files
.DS_Store?
Icon?
._*
.Spotlight-V100
.Trashes
Thumbs.db
Desktop.ini

# Configuration
/config.php

# puphpet
Lib/puphpet/files/dot/ssh/id_rsa
Lib/puphpet/files/dot/ssh/id_rsa.ppk
Lib/puphpet/files/dot/ssh/id_rsa.pub
Lib/puphpet/files/dot/ssh/root_id_rsa
Lib/puphpet/files/dot/ssh/root_id_rsa.ppk
Lib/puphpet/files/dot/ssh/root_id_rsa.pub

# Composer
/vendor/*

# Tmp Folder
!.gitkeep
/tmp/*
